.navbar-style{
    background-color: rgb(223, 191, 150);
}
.logo-img-style{
    height: 50px;
    width: 50px;
}
.logo-text-style{
    margin: -21px 0px 0px 50px;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
main{
    min-height: 83vh;
}
Footer{
    background-color: rgb(223, 191, 150);
    padding:8px; 
}